body {
  background-color: #4e4e50;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*===================================*/
.iPhone {
  background-color: #edf5e1;
  display: inline-flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid #282828;
  height: 550px;
  width: 250px;
  border-radius: 30px;
}
/*===================================*/
.header {
  background-color: #05386b;
  height: 70px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.notch {
  background-color: #282828;
  width: 160px;
  height: 20px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
/*-----------------------------------*/
.person {
  height: 60px;
  width: 250px;
  display: inline-flex;
  align-items: center;
  margin-left: 30px;
}
.person img {
  float: left;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
}
.name-online {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  color: white;
}
.name-online > h2 {
  margin: 0px;
  font-family: "Rubik", sans-serif;
  font-size: 13px;
}
.name-online > p {
  margin: 0px;
  margin-left: 5px;
  font-family: "Rubik", sans-serif;
  font-size: 10px;
}
/*===================================*/
.chat-box {
  height: 470px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: grid;
  grid-template-rows: 2fr 2fr 2fr 2fr 1fr 3fr 2fr 2fr 3fr;
}
/*-----------------------------------*/
.Me {
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  background-color: #379683;
}
.chat-box p {
  font-size: 10px;
  font-family: "Rubik", sans-serif;
  color: #edf5e1;
}
.me1 {
  width: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.me2 {
  width: 160px;
  margin-bottom: 10px;
}
/*-----------------------------------*/
.pic {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-right: 10px;
}
.pic img {
  height: 50px;
  width: 50px;
  border-radius: 15px;
}
/*-----------------------------------*/
.You {
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 5px;
  margin-right: 10px;
  background-color: #5cdb95;
}
.you1 {
  width: 160px;
  justify-self: end;
  margin-top: 10px;
  margin-bottom: 10px;
}
.you2 {
  justify-self: end;
  margin-bottom: 10px;
}
/*-----------------------------------*/
.me3 {
  width: 160px;
  margin-bottom: 10px;
}
/*-----------------------------------*/
.walk {
  background-color: #05386b;
  display: inline-flex;
  text-align: justify;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  border-radius: 10px;
  margin-left: 10px;
  padding-left: 5px;
  margin-bottom: 5px;
}
.walk img {
  height: 20px;
  color: white;
}
.walk h2 {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
}
.walk p {
  color: white;
}
/*===================================*/
.message {
  background-color: white;
  width: 230px;
  height: 32px;
  justify-self: center;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message p {
  color: rgb(187, 174, 174);
  margin-left: 15px;
}
.message img {
  height: 20px;
  margin-right: 7px;
}
